.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered_title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
  }

  .roverStart {
    position: absolute;
    top: 18%;
    left: 15%;
  }

  .roverDesert {
    position: absolute;
    top: 18%;
    left: 55%;
  }

  .roverHill {
    position: absolute;
    top: 30%;
    left: 55%;
  }

  .roverRiver {
    position: absolute;
    top: 40%;
    left: 55%;
  }

  .roverCraters {
    position: absolute;
    top: 45%;
    left: 60%;
  }

  .options {
    color: white;
  }