.container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered_title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
  }

  .rover {
    position: absolute;
    top: 25%;
    left: 8%;
  }